.customButton {
    background-color: #0022CC;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .customButton {
        font-size: 16px;
    }
}



.customButtonLoginPage {
    margin-top: 20px;
    width: 100%;
}

.customButton:hover {
    background-color: #001BA3;
    transition-delay: 0s
}

.customButton:active {
    background-color: #00147A;
}