.customButton {
    background-color: #0022CC;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 10px 0;
}



.customButton:hover {
    background-color: #001BA3;
}

.customButton:active {
    background-color: #00147A;
}

.customButton:disabled {
    cursor: default;
    background-color: #809BB5;
}



.customButtonSecondary {
    background-color: #1347FF;
}