.customTextarea {
    display: block;
    border: none;
    border-bottom: solid #000000 1px;
    width: 100%;
    cursor: pointer;
    overflow-y: auto;
    resize: none;
}

.customTextarea::placeholder {
    color: #999B9E;
}

.customTextarea:focus {
    outline: none;
    border-bottom: solid #0022CC 2px;
}

.invalidCustomTextarea {
    border-bottom: solid red 2px;
}