@media (min-width: 1200px) {
    .bookPageWrapper {
        padding: 0 10%;
    }
}

.backgroundCoverContainer {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 240px;
    overflow: hidden;
}

.backgroundCover {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    object-fit: cover;
}

.backgroundMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #99A7EB;
    opacity: 0.15;
}



.bookTitleAuthorContainer {
    display: flex;
    z-index: 10; 
    margin-bottom: 30px;
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .bookTitleAuthorContainer {
        margin-left: 13px;
    }
}

@media (min-width: 1440px) {
    .bookTitleAuthorContainer {
        padding-left: 230px;
        padding-top: 20px;  
        margin-bottom: 25px;
    }
}



.bookTitleAuthorContainer > * {
    color: white;
    text-shadow: -2px 2px 4px black;
}

@media (min-width: 1440px) {
    .bookTitleAuthorContainer > * {
        font-size: 20px;
    }
}



.bookTitle {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 1440px) {
    .bookTitle {
        font-size: 24px;
    }
}



.bookCoverReviewLinkWrapper {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: -20px;
    align-items: center;
    max-width: 240px;
}

@media (min-width: 1024px) {
    .bookCoverReviewLinkWrapper {
        position: fixed;
        margin-top: -15px;
    }
}

@media (min-width: 1440px) {
    .bookCoverReviewLinkWrapper {
        margin-top: -80px;
    }
}



.bookCoverContainer {
    width: 90%;
    height: 90%;
    z-index: 1;
}




.bookCover {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reviewLinkContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.reviewLinkImg {
    width: 35px;
    height: 35px;
}

.reviewLinkText {
    margin-left: 10px;
}



.bookInfoWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    min-width: 240px;
}

@media (min-width: 510px) {
    .bookInfoWrapper {
        grid-template-columns: 240px auto;
    }
}

@media (min-width: 1024px) {
    .bookInfoWrapper {
        min-height: 438px;
    }
}

@media (min-width: 1440px) {
    .bookInfoWrapper {
        min-height: 379px;
    }
}



.bookInfoContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-column: 2;
}

@media (min-width: 510px) {
    .bookInfoContainer {
        max-height: 336px;
    }
}

@media (min-width: 1024px) {
    .bookInfoContainer {
        max-height: 339px;
        min-height: 339px;
    }
}

@media (min-width: 1440px) {
    .bookInfoContainer {
        min-height: 274px;
        max-height: 274px;
    }
}



.averageRatingContainer {
    display: flex;
    height: fit-content;
    align-items: center;
}

.averageRatingImg {
    width: 25px;
    height: 25px;
}

.averageRatingValue {
    font-size: 22px;
    font-weight: lighter;
}



.checkoutBookButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}



.checkoutBookButton {
    width: 90%;
    margin-top: 10px;
}



.rightContentContainer {
    display: grid;
    grid-template-rows: 25px repeat(3, auto);
    margin-top: 5%;
}

@media (min-width: 1024px) {
    .rightContentContainer {
        margin-top: 40px;
    }
}



.bookGenresContainer {
    display: block;
    width: 88%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}



.tabsContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    grid-column: 1 / 3;
}

@media (min-width: 425px) {
    .tabsContainer {
        padding: 30px 0;
    }
}

@media (min-width: 510px) {
    .tabsContainer {
        padding-top: 0px;
        padding-bottom: 50px;
        margin-top: -39px;
        grid-column: 2;
    }
}

@media (min-width: 1024px) {
    .tabsContainer {
        margin-top: 15px;
    }
}




.bookPageCustomTab {
    width: 100%;
    font-size: 15px;
}

@media (min-width: 510px) {
    .bookPageCustomTab {
        max-width: 151px;
    }
}

@media (min-width: 768px) {
    .bookPageCustomTab {
        max-width: 162px;
        font-size: 16px;
    }
}



@media (min-width: 768px) {
    .tabContentContainer {
        padding: 0 15px;
    }
}

@media (min-width: 1024px) {
    .tabContentContainer {
        padding-left: 240px;
        padding-right: 15px;
    }
}