.bookInfoContainer {
    width: 150px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (min-width: 1500px) {
    .bookInfoContainer {
        width: 170px;
    }
}



.bookCover {
    width: 100%;
}



.bookRatingContainer {
    display: flex;
    vertical-align: middle;
}



.bookRatingImg {
    width: 25px;
}

@media (min-width: 1440px) {
    .bookRatingImg {
        width: 35px;
    }
}



.bookRatingValue {
    font-size: 20px;
}

@media (min-width: 1440px) {
    .bookRatingValue {
        font-size: 24px;
    }
}