.Login {
    position: absolute;
    width: calc(100vw - 20px);
    overflow-x: auto;
}

@media (min-width: 768px) {
    .Login {
        width: calc(100vw - 30px);
        top: 15px;
        left: 15px;
    }
}

@media (min-width: 1440px) {
    .Login {
        width: calc(100vw - 50px);
        top: 25px;
        left: 25px;
    }
}



.background {
    width: 100%;
    height: calc(100vh - 20px);
    position: relative;
    overflow-x: auto;
    min-width: 300px;
    background-image: url('/public/img/ibs_library_background.png');
    background-size: 100% 100%;
}

@media (min-width: 768px) {
    .background {
        height: calc(100vh - 30px);
    }
}

@media (min-width: 1440px) {
    .background {
        height: calc(100vh - 50px)
    }
}



.backgroundContentWrapper {
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 100%;
    align-items: center;
}

@media (min-width: 1024px) {
    .backgroundContentWrapper {
        grid-template-rows: none;
        grid-template-columns: 1fr 1.6fr;
        margin: 0 auto;
        max-width: 1024px;
    }
}



.backgroundContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}



.backgroundImgText {
    font-size: 16px;
    font-style: normal;
    color: white;
}

@media (min-width: 768px) {
    .backgroundImgText {
        font-size: 22px;
    }
}



.backgroundLogo {
    max-width: 42px;
}

@media (min-width: 768px) {
    .backgroundLogo {
        max-width: 58px;
    }
}



.backgroundIcon {
    max-width: 35px;
    margin-left: 10%;
}

@media (min-width: 768px) {
    .backgroundIcon {
        max-width: 55px;
        margin-left: 15%;
    }
}



.inputAndButtonWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (min-width: 1024px) {
    .inputAndButtonWrapper {
        max-width: 500px;
    }
}

.inputAndButtonContainer {
    width: 70%;
    margin-bottom: 10%;
    max-width: 300px;
}



.greetingTextContainer {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: center;
    margin: 0 5px;
}

@media (min-width: 1024px) {
    .greetingTextContainer {
        align-items: center;
    }
}



.greetingText {
    position: absolute;
    font-size: 14px;
    color: white;
    bottom: 0;
    line-height: 2;
}

@media (min-width: 768px) {
    .greetingText {
        font-size: 16px;
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    .greetingText {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
    .greetingText {
        bottom: unset;
        margin-left: 0;
    }
}



.customButtonLoginPage {
    margin-top: 20px;
    width: 100%;
}