.Login {
    width: 100%;
    top: 0;
    left: 0;
}

.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
}

.backgroundImg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.backgroundContentContainer {
    margin-top: 10%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}



.backgroundImgText {
    font-size: 16px;
    font-style: normal;
    color: white;
}

@media (min-width: 768px) {
    .backgroundImgText {
        font-size: 22px;
    }
}



.backgroundLogo {
    max-width: 42px;
}

@media (min-width: 768px) {
    .backgroundLogo {
        max-width: 58px;
    }
}



.backgroundIcon {
    max-width: 35px;
    margin-left: 10%;
}

@media (min-width: 768px) {
    .backgroundIcon {
        max-width: 55px;
        margin-left: 15%;
    }
}



.inputAndButtonContainer {
    position: relative;
    width: 70%;
    margin-bottom: 10%;
    max-width: 300px;
}



.greetingText {
    margin: 5%;
    font-size: 14px;
}

@media (min-width: 768px) {
    .greetingText {
        margin: 30px;
        font-size: 16px;
    }
}
