.Login {
    position: absolute;
    width: calc(100vw - 20px);
    overflow-x: auto;
}

@media (min-width: 768px) {
    .Login {
        width: calc(100vw - 30px);
        top: 15px;
        left: 15px;
    }
}

@media (min-width: 1440px) {
    .Login {
        width: calc(100vw - 50px);
        top: 25px;
        left: 25px;
    }
}



.background {
    width: 100%;
    height: calc(100vh - 20px);
    position: relative;
    overflow-x: auto;
    min-width: 300px;
    background-image: url('/public/img/ibs_library_background.png');
    background-size: 100% 100%;
}

@media (min-width: 768px) {
    .background {
        height: calc(100vh - 30px);
    }
}

@media (min-width: 1440px) {
    .background {
        height: calc(100vh - 50px)
    }
}



.backgroundContentWrapper {
    display: grid;
    grid-template-rows: 1.3fr 1fr;
    row-gap: 45px;
    height: 100%;
    align-items: center;
}

@media (min-width: 768px) {
    .backgroundContentWrapper {
        grid-template-rows: none;
        row-gap: unset;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        max-width: 1200px;
    }
}

@media (min-width: 1440px) {
    .backgroundContentWrapper {
        grid-template-columns: 1fr 1.3fr;
        max-width: 1300px;
    }
}



.backgroundContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}



.backgroundImgText {
    font-size: 18px;
    font-style: normal;
    color: white;
}

@media (min-width: 425px) {
    .backgroundImgText {
        font-size: 22px;
    }
}



.backgroundLogo {
    max-width: 46px;
}

@media (min-width: 425px) {
    .backgroundLogo {
        max-width: 58px;
    }
}



.backgroundIcon {
    max-width: 40px;
    margin-left: 14%;
}

@media (min-width: 425px) {
    .backgroundIcon {
        max-width: 55px;
        margin-left: 15%;
    }
}



.inputAndButtonWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: end;
}

@media (min-width: 768px) {
    .inputAndButtonWrapper {
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .inputAndButtonWrapper {
        max-width: 450px;
    }
}

@media (min-width: 1440px) {
    .inputAndButtonWrapper {
        max-width: unset;
    }
}



.inputAndButtonContainer {
    width: 80%;
    max-width: 300px;
}



.greetingTextContainer {
    display: flex;
    height: 100%;
    position: relative;
    align-items: start;
    justify-content: center;
}

@media (min-width: 768px) {
    .greetingTextContainer {
        align-items: center;
        justify-content: start;
    }
}



.greetingText {
    position: absolute;
    font-size: 14px;
    color: white;
    line-height: 1.5;
    width: 80%;
    max-width: 370px;
}

@media (min-width: 768px) {
    .greetingText {
        font-size: 16px;
        margin-left: 0px;
        bottom: unset;
        max-width: unset;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .greetingText {
        width: 100%;
    }
}



.greetingText > b {
    font-size: 20px;
}

@media (min-width: 634px) {
    .greetingText > b {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .greetingText > b {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .greetingText > b {
        font-size: 26px;
    }
}

@media (min-width: 1440px) {
    .greetingText > b {
        font-size: 28px;
    }
}



.customButtonLoginPage {
    margin-top: 20px;
    width: 100%;
}



.customButtonLoadingLoginPage {
    color: transparent;
}

.customButtonLoadingLoginPage::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@media (min-width: 1024px) {
    .customButtonLoadingLoginPage::after {
        width: 22px;
        height: 22px;
    }
}



@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}