.newBookWrapper {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .newBookWrapper {
        margin-top: 20px;
    }
}

@media (min-width: 1024px) {
    .newBookWrapper {
        margin-top: 30px;
    }
}

@media (min-width: 1440px) {
    .newBookWrapper {
        margin-top: 40px;
    }
}



.newBookContainer {
    display: inline;
}



.newBookInfoContainer {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
}

@media (min-width: 650px) {
    .newBookInfoContainer {
        grid-template-rows: none;
        grid-template-columns: 180px auto auto;
        row-gap: unset;
        column-gap: 20px;
    }
}

@media (min-width: 1024px) {
    .newBookInfoContainer {
        column-gap: 40px;
    }
}



.newBookCoverContainer {
    width: 180px;
    height: 320px;
}



.newBookInputContainer {
    display: grid;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    row-gap: 10px;
}

@media (min-width: 650px) {
    .newBookInputContainer {
        grid-template-rows: repeat(4, 35px);
        row-gap: 20px;
        width: 150px;
    }
}

@media (min-width: 1440px) {
    .newBookInputContainer {
        width: 200px;
    }
}



.newBookTextareaContainer {
    width: 100%;
}

@media (min-width: 650px) {
    .newBookTextareaContainer {
        width: 250px;
    }
}

@media (min-width: 768px) {
    .newBookTextareaContainer {
        width: 350px;
    }
}

@media (min-width: 1024px) {
    .newBookTextareaContainer {
        width: 450px;
    }
}

@media (min-width: 1440px) {
    .newBookTextareaContainer {
        width: 600px;
    }
}




.newBookTextarea {
    height: 200px;
}



.newBookGenresButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

@media (min-width: 650px) {
    .newBookGenresButtonContainer {
        flex-direction: row;
        justify-content: space-between;
    }
}



@media (min-width: 650px) {
    .list {
        width: 190px;
    }
}



.newBookButtonContainer {
    width: 100%;
}

@media (min-width: 650px) {
    .newBookButtonContainer {
        margin-top: 50px;
        width: 150px;
    }
}



.newBookButton {
    width: 100%;
}