.bookReviewContainer {
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 15px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.profileImageContainer {
    width: 40px;
    height: 40px;
}

.profileImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.reviewContentContainer {
    display: grid;
    grid-template-rows: 40px repeat(2, auto);
}

.bookReviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.bookReviewHeaderLeft {
    display: flex;
    flex-direction: column;
}

.reviewDate {
    color: #444B54;
}

.bookReviewHeaderRight {
    display: flex;
    align-items: center;
}



.bookReviewHeaderRight > span {
    font-size: 20px;
}

@media (min-width: 1440px) {
    .bookReviewHeaderRight > span {
        font-size: 24px;
    }
}



.bookReviewStars {
    width: 25px;
}

.bookReviewMain {
    margin: 20px 0;
}

.bookReviewFooter {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
}

.reviewFooterRightContainer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 25px;
}



.editReviewImg {
    height: 30px;
    cursor: pointer;
}



.deleteReviewImg {
    height: 35px;
    cursor: pointer;
}
