.tabsWrapper {
    display: flex;
    justify-content: center;
}



.tabs {
    margin: 0 10px;
    max-width: 1600px;
    width: 100%;
}

@media (min-width: 425px) {
    .tabs {
        margin: 0;
    }
}



.toolbarContainer {
    position: fixed;
    width: 100%;
    max-width: 1600px;
    background-color: #FFFFFF;
}

@media (min-width: 900px) {
    .toolbarContainer {
        z-index: 10;
    }
}

.horizontalLine {
    background: #CCD3F5;
    height: 2px;
    border: none;
}

.toolBarToolActive {
    background-color: #000000;
    color: #FFFFFF;
}