.tabsWrapper {
    display: flex;
    justify-content: center;
}



.tabs {
    margin: 0 10px;
    max-width: 1600px;
    width: 100%;
}

@media (min-width: 425px) {
    .tabs {
        margin: 0;
    }
}



.toolbarContainer {
    position: fixed;
    width: 100%;
    max-width: 1600px;
    margin-top: 80px;
    background-color: #FFFFFF;
}

@media (min-width: 900px) {
    .toolbarContainer {
        z-index: 2;
    }
}

@media (min-width: 1024px) {
    .toolbarContainer {
        margin-top: 100px;
    }
}



.horizontalLine {
    background: #CCD3F5;
    height: 2px;
    border: none;
}

.toolBarToolActive {
    background-color: #000000;
    color: #FFFFFF;
}



@media (min-width: 425px) {
    .toolBarCustomTab {
        width: 100px;
    }    
}

@media (min-width: 1024px) {
    .toolBarCustomTab {
        width: 110px;
    }
}

@media (min-width: 1440px) {
    .toolBarCustomTab {
        width: 125px;
    }
}



@media (min-width: 425px) {
    .toolBarFilterAndSortTab {
        width: 100px;
    }
}

@media (min-width: 1024px) {
    .toolBarFilterAndSortTab {
        width: 110px;
    }
}

@media (min-width: 1440px) {
    .toolBarFilterAndSortTab {
        width: 125px;
    }
}