.headerContainer {
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px;
}

@media (min-width: 768px) {
    .headerContainer {
        padding: 15px;
    }
}

@media (min-width: 1440px) {
    .headerContainer {
        padding: 15px 25px;
    }
}



.headerBody {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.profileInfoContainer {
    display: inline-grid;
    grid-template-columns: 40px 200px;
    column-gap: 5px;
    z-index: 5;
}

@media (min-width: 375px) {
    .profileInfoContainer {
        grid-template-columns: 40px 250px;
    }
}

@media (min-width: 425px) {
    .profileInfoContainer {
        grid-template-columns: 40px 250px;
    }
}

@media (min-width: 768px) {
    .profileInfoContainer {
        grid-template-columns: 50px 240px;
    }
}

@media (min-width: 1024px) {
    .profileInfoContainer {
        grid-template-columns: 60px 400px;
        column-gap: 10px;
    }
}

@media (min-width: 1440px) {
    .profileInfoContainer {
        grid-template-columns: 60px 650px;
        column-gap: 15px;
    }
}



.profileImage {
    width: 100%;
    height: 40px;
    grid-column: 1;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .profileImage {
        height: 50px;
    }
}

@media (min-width: 1024px) {
    .profileImage {
        height: 60px;
    }
}



.employeesInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}



.employeesName {
    font-size: 12px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (min-width: 1024px) {
    .employeesName {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    .employeesName {
        font-size: 16px;
    }
}



.employeesPosition {
    font-size: 12px;
    color: #99A7EB;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (min-width: 1024px) {
    .employeesPosition {
        font-size: 13px;
    }
}

@media (min-width: 1440px) {
    .employeesPosition {
        font-size: 15px;
    }
}



.navMenu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    background-color: #336791;
    padding-top: 60px;
    transition: all 0.3s ease 0s;
}

.navMenuOpened {
    top: 0;
    bottom: 0;
}



@media (min-width: 768px) {
    .navMenu {
        display: flex;
        position: relative;
        background-color: transparent;
        z-index: 2;
        padding: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
}



.navList {
    display: block;
    margin: 0;
}



.navList li {
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
    padding-top: 10px;
}

@media (min-width: 768px) {
    .navList li {
        padding-top: 0;
    }
}



.navLink {
    text-decoration: none;
    color: white;
    padding-top: 0px;
}

.navLink:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .navList {
        display: flex;
        position: relative;
        z-index: 2;
    }
    .navLink {
        padding: 0;
    }
}



.navLinkImg {
    display: none;
}

@media (min-width: 768px) {
    .navLinkImg {
        display:flex;
        width: 25px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .navLinkImg {
        width: 35px;
    }
}



.navLink span {
    font-size: 16px;
}

@media (min-width: 1440px) {
    .navLink span {
        font-size: 17px;
    }
}



.headerBurger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.headerBurger:before, .headerBurger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.headerBurger:before {
    top: 0;
}

.headerBurger:after {
    bottom: 0;
}

.headerBurger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: 9px;
}

@media (min-width: 768px) {
    .headerBurger {
        display: none;
    }
}



.headerBurgerOpened span {
    transform: scale(0);
}

.headerBurgerOpened:before {
    transform: rotate(45deg);
    top: 9px;
}

.headerBurgerOpened:after {
    transform: rotate(-45deg);
    bottom: 9px;
}