.caption {
    display: none;
}

.tableContainer {
    width: 100%;
    max-height: 50vh;
    overflow: auto;
    outline: 3px solid #CCD3F5;
}



.table {
    width: 100%;
    border-collapse: collapse;
}



.tableHead tr th {
    background-color: #1567E6;
    color: #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: left;
    padding: 5px 10px;
}

.customCheckboxTh {
    margin: 0 auto;
}

.checkboxColumnHeader {
    min-width: 45px;
    max-width: 45px;
    padding: 0;
    width: 45px;
    padding: 10px 0;
    user-select: none;
}

.tableHead tr th:last-child {
    border-right: 0px;
}

.tableBody tr:nth-child(even) {
    background-color: #E9E9EB;
}

.tableBody tr td {
    padding: 5px 10px;
    font-weight: normal;
}

.checkboxColumnRow {
    min-width: 45px;
    max-width: 45px;
    user-select: none;
    width: 45px;
    padding: 10px 0;
}

.tableBody tr:nth-child(odd) td {
    border-right: 2px solid #E9E9EB;
}

.tableBody tr:nth-child(odd) td:last-child {
    border-right: 0px;
}

.tableBody tr:nth-child(even) td {
    border-right: 2px solid #fff;
}

.tableBody tr:nth-child(even) td:last-child {
    border-right: 0px;
}

.tableBody tr:hover {
    background-color: #CCC;
}



.returnDateExpiredCell {
    color: red;
    cursor: pointer;
    position: relative;
}

.returnDateExpiredCell:hover::after {
    content: 'Возврат просрочен';
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 1;
    background-color: white;
    color: black;
    padding: 4px;
}



.weekLeftCell {
    color: #1567E6;
    cursor: pointer;
    position: relative;
}

.weekLeftCell:hover::after {
    content: 'Осталось меньше недели';
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 1;
    background-color: white;
    color: black;
    padding: 4px;
}